<a href="https://colab.research.google.com/github/griisnc/DataScience-Data-Mining/blob/main/spam_180017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as ps
import numpy as np
import seaborn as sb
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [ ]:
with open('/content/sample_data/shortnames.txt') as lista: #abre el txt 'shortnames.txt'
    shortnames = lista.read().splitlines() #lee cada l√≠nea como un elemento de la lista

In [ ]:
shortnames

['make',
 'address',
 'all',
 'threeD',
 'our',
 'over',
 'remove',
 'internet',
 'order',
 'mail',
 'receive',
 'will',
 'people',
 'report',
 'addresses',
 'free',
 'business',
 'email',
 'you',
 'credit',
 'your',
 'font',
 'n000',
 'money',
 'hp',
 'hpl',
 'george',
 'n650',
 'lab',
 'labs',
 'telnet',
 'n857',
 'data',
 'n415',
 'n85',
 'technology',
 'n1999',
 'parts',
 'pm',
 'direct',
 'cs',
 'meeting',
 'original',
 'project',
 're',
 'edu',
 'table',
 'conference',
 'semicolon',
 'leftparen',
 'leftbrack',
 'bang',
 'dollar',
 'hash',
 'crl.av',
 'crl.long',
 'crl.tot',
 'yesno']

In [ ]:
#lee el txt 'spam.data2.txt'
spamData = ps.read_csv('/content/sample_data/spam.data2.txt', sep='\t', header=None)

In [ ]:
spamData.columns = shortnames #se agregan las columnas a spamData
spamData

,make,address,all,threeD,our,over,remove,internet,order,mail,...,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot,yesno
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,y
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,y
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,y
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,y
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,n
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,n
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,n
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,n
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,n

In [ ]:
#spamData2 = spamData
spamData2 = spamData[[
'make', 'address', 'all', 'threeD', 'our', 'over', 'remove', 'internet', 'order', 'mail', 'receive', 'will', 'people', 'report', 'addresses', 'free', 'business', 'email', 'you', 'credit', 'your', 'font', 'n000', 'money', 'hp', 'hpl', 'george', 'n650', 'lab', 'labs', 'telnet', 'n857', 'data', 'n415', 'n85', 'technology', 'n1999', 'parts', 'pm', 'direct', 'cs', 'meeting', 'original', 'project', 're', 'edu', 'table', 'conference', 'semicolon', 'leftparen', 'leftbrack', 'bang', 'dollar', 'hash', 'crl.av', 'crl.long', 'crl.tot','yesno']]

In [ ]:
spamData2 = spamData2.dropna()
spamData2

,make,address,all,threeD,our,over,remove,internet,order,mail,...,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot,yesno
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,y
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,y
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,y
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,y
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,n
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,n
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,n
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,n
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,n

In [ ]:
#se asignan datos de forma aleatoria a los conjuntos de prueba y entrenamiento
X_train, X_test = train_test_split(spamData2, test_size=0.3,random_state=42)

In [ ]:
X_test

,make,address,all,threeD,our,over,remove,internet,order,mail,...,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot,yesno
3683,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.000,0.000,0.000,0.000,0.000,0.0,1.000,1,3,n
4412,0.71,0.00,0.71,0.0,0.00,0.00,0.0,0.00,0.0,0.71,...,0.000,0.000,0.000,0.000,0.000,0.0,1.032,2,32,n
2584,0.00,0.00,0.91,0.0,0.00,0.00,0.0,0.45,0.0,0.00,...,0.000,0.000,0.000,0.000,0.000,0.0,1.320,7,103,n
69,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.000,0.201,0.000,0.000,0.100,0.0,4.548,59,141,y
1844,0.00,0.00,0.54,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.000,0.188,0.047,0.000,0.000,0.0,1.745,12,89,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3340,0.00,0.00,0.48,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.000,0.000,0.000,0.119,0.059,0.0,6.145,115,338,n
1289,0.39,0.00,0.00,0.0,0.00,0.39,0.0,0.00,0.0,0.00,...,0.000,0.000,0.000,0.640,0.256,0.0,3.500,30,112,y
449,0.12,0.12,0.24,0.0,1.34,0.12,0.0,0.12,0.0,0.00,...,0.061,0.020,0.000,0.041,0.041,0.0,2.351,69,254,y
3774,0.00,0.80,0.00,0.0,0.00,0.00,0.0,0.00,0.0,1.60,...,0.000,0.000,0.000,0.235,0.000,0.0,1.380,4,29,n
2194,0.00,0.00,0.00,0.0,0.57,0.00,0.0,0.00,0.0,0.00,...,0.000,0.077,0.000,0.000,0.000,0.0,1.964,12,110,n

In [ ]:
X_train

,make,address,all,threeD,our,over,remove,internet,order,mail,...,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot,yesno
958,0.00,0.00,0.00,0.0,0.00,0.00,1.21,0.00,0.0,1.21,...,0.000,0.000,0.000,0.000,0.000,0.000,1.676,15,57,y
1533,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.000,0.208,0.000,0.417,0.208,0.000,3.812,16,61,y
654,0.33,0.00,0.33,0.0,0.00,0.00,0.66,0.00,0.0,0.00,...,0.000,0.116,0.000,0.406,0.464,0.348,6.932,43,513,y
1497,0.52,1.31,0.26,0.0,2.90,0.26,0.79,0.26,0.0,0.79,...,0.000,0.138,0.000,0.046,0.000,0.000,2.934,60,135,y
3844,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.000,0.000,0.000,0.000,0.000,0.000,14.000,53,56,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.000,0.122,0.081,0.000,0.000,0.040,3.891,70,323,n
466,0.00,0.23,0.00,0.0,0.23,0.47,0.00,0.47,0.0,0.95,...,0.000,0.121,0.040,0.000,0.040,0.000,3.780,55,189,y
3092,0.00,0.00,0.00,0.0,1.49,0.00,0.00,0.00,0.0,0.00,...,0.000,0.229,0.000,0.000,0.000,0.000,2.333,10,49,n
3772,0.00,0.23,0.00,0.0,0.00,0.23,0.00,0.46,0.0,0.00,...,0.063,0.063,0.000,0.159,0.000,0.000,1.616,13,173,n
860,0.10,0.00,0.41,0.0,0.10,0.10,0.10,0.52,0.1,0.00,...,0.000,0.048,0.000,0.016,0.064,0.000,1.915,29,339,y

In [ ]:
#y_train y y_test toman la columna 'yesno'
y_train = X_train['yesno']
y_test = X_test['yesno']

In [ ]:
#se quita la columna 'yesno'
X_train = X_train[[
'make', 'address', 'all', 'threeD', 'our', 'over', 'remove', 'internet', 'order', 'mail', 'receive', 'will', 'people', 'report', 'addresses', 'free', 'business', 'email', 'you', 'credit', 'your', 'font', 'n000', 'money', 'hp', 'hpl', 'george', 'n650', 'lab', 'labs', 'telnet', 'n857', 'data', 'n415', 'n85', 'technology', 'n1999', 'parts', 'pm', 'direct', 'cs', 'meeting', 'original', 'project', 're', 'edu', 'table', 'conference', 'semicolon', 'leftparen', 'leftbrack', 'bang', 'dollar', 'hash', 'crl.av', 'crl.long', 'crl.tot']]
X_train

,make,address,all,threeD,our,over,remove,internet,order,mail,...,conference,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot
958,0.00,0.00,0.00,0.0,0.00,0.00,1.21,0.00,0.0,1.21,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,1.676,15,57
1533,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.208,0.000,0.417,0.208,0.000,3.812,16,61
654,0.33,0.00,0.33,0.0,0.00,0.00,0.66,0.00,0.0,0.00,...,0.0,0.000,0.116,0.000,0.406,0.464,0.348,6.932,43,513
1497,0.52,1.31,0.26,0.0,2.90,0.26,0.79,0.26,0.0,0.79,...,0.0,0.000,0.138,0.000,0.046,0.000,0.000,2.934,60,135
3844,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,14.000,53,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.122,0.081,0.000,0.000,0.040,3.891,70,323
466,0.00,0.23,0.00,0.0,0.23,0.47,0.00,0.47,0.0,0.95,...,0.0,0.000,0.121,0.040,0.000,0.040,0.000,3.780,55,189
3092,0.00,0.00,0.00,0.0,1.49,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.229,0.000,0.000,0.000,0.000,2.333,10,49
3772,0.00,0.23,0.00,0.0,0.00,0.23,0.00,0.46,0.0,0.00,...,0.0,0.063,0.063,0.000,0.159,0.000,0.000,1.616,13,173
860,0.10,0.00,0.41,0.0,0.10,0.10,0.10,0.52,0.1,0.00,...,0.0,0.000,0.048,0.000,0.016,0.064,0.000,1.915,29,339

In [ ]:
#se quita la columna 'yesno'
X_test = X_test[[
'make', 'address', 'all', 'threeD', 'our', 'over', 'remove', 'internet', 'order', 'mail', 'receive', 'will', 'people', 'report', 'addresses', 'free', 'business', 'email', 'you', 'credit', 'your', 'font', 'n000', 'money', 'hp', 'hpl', 'george', 'n650', 'lab', 'labs', 'telnet', 'n857', 'data', 'n415', 'n85', 'technology', 'n1999', 'parts', 'pm', 'direct', 'cs', 'meeting', 'original', 'project', 're', 'edu', 'table', 'conference', 'semicolon', 'leftparen', 'leftbrack', 'bang', 'dollar', 'hash', 'crl.av', 'crl.long', 'crl.tot']]
X_test

,make,address,all,threeD,our,over,remove,internet,order,mail,...,conference,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot
3683,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.000,0.000,0.000,0.000,0.0,1.000,1,3
4412,0.71,0.00,0.71,0.0,0.00,0.00,0.0,0.00,0.0,0.71,...,0.0,0.000,0.000,0.000,0.000,0.000,0.0,1.032,2,32
2584,0.00,0.00,0.91,0.0,0.00,0.00,0.0,0.45,0.0,0.00,...,0.0,0.000,0.000,0.000,0.000,0.000,0.0,1.320,7,103
69,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.201,0.000,0.000,0.100,0.0,4.548,59,141
1844,0.00,0.00,0.54,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.188,0.047,0.000,0.000,0.0,1.745,12,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3340,0.00,0.00,0.48,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.000,0.000,0.119,0.059,0.0,6.145,115,338
1289,0.39,0.00,0.00,0.0,0.00,0.39,0.0,0.00,0.0,0.00,...,0.0,0.000,0.000,0.000,0.640,0.256,0.0,3.500,30,112
449,0.12,0.12,0.24,0.0,1.34,0.12,0.0,0.12,0.0,0.00,...,0.0,0.061,0.020,0.000,0.041,0.041,0.0,2.351,69,254
3774,0.00,0.80,0.00,0.0,0.00,0.00,0.0,0.00,0.0,1.60,...,0.0,0.000,0.000,0.000,0.235,0.000,0.0,1.380,4,29
2194,0.00,0.00,0.00,0.0,0.57,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.077,0.000,0.000,0.000,0.0,1.964,12,110

In [ ]:
ct = GaussianNB()

In [ ]:
ct.fit(X_train,y_train)

GaussianNB()

In [ ]:
#se obtiene el pronostico de X_test
pronostico = ct.predict(X_test)

In [ ]:
pronostico

array(['y', 'n', 'n', ..., 'y', 'y', 'n'], dtype='<U1')

In [ ]:
#puntaje de exactitud del modelo de clasificaci√≥n
print (ct.score(X_test,y_test))

0.8247646632874729

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pronostico) #eficiencia = (592 + 547) / (592 + 212 + 30 + 547)

array([[592, 212],
       [ 30, 547]])

In [ ]:
#se lee el archivo excel
spamPronostico = ps.read_excel('/content/sample_data/spam_pron√≥stico.xlsx')
spamPronostico

,make,address,all,threeD,our,over,remove,internet,order,mail,...,conference,semicolon,leftparen,leftbrack,bang,dollar,hash,crl.av,crl.long,crl.tot
0,0.00,0.00,0.00,0,0.53,0.00,0.53,0.00,0.53,0.00,...,0,0.000,0.000,0.000,0.082,0.000,0.000,4.391,66,101
1,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0.00,0.85,...,0,0.299,0.000,0.000,0.149,0.000,0.000,1.040,2,26
2,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1,3
3,0.00,0.31,0.42,0,0.00,0.10,0.00,0.52,0.21,0.52,...,0,0.000,0.016,0.000,0.887,0.032,0.049,3.446,318,1003
4,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0.022,0.022,0.019,0.022,0.022,0.022,3.482,5,5902
5,0.00,0.00,0.00,0,0.00,0.23,0.00,0.00,0.00,0.00,...,0,0.077,0.038,0.000,0.000,0.000,0.038,2.600,42,182
6,0.39,0.00,0.00,0,0.00,0.39,0.79,0.00,0.00,0.39,...,0,0.000,0.064,0.000,0.640,0.192,0.000,2.740,13,74
7,0.00,0.00,0.77,0,0.38,0.38,0.38,0.00,0.00,0.77,...,0,0.063,0.127,0.255,0.510,0.000,0.000,3.685,62,258
8,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0.000,0.131,0.000,0.262,0.000,0.000,1.625,7,65
9,0.00,0.00,0.66,0,0.33,0.00,0.33,0.33,1.33,2.00,...,0,0.000,0.230,0.000,0.057,0.230,0.000,5.279,82,227

In [ ]:
#se obtiene la clasificacion del archivo excel
prediccion = ct.predict(spamPronostico)
print(prediccion)

['y' 'y' 'n' 'y' 'y' 'y' 'y' 'y' 'n' 'y']